@{
    ViewData["Title"] = $"Internal server error";
}

    <main id="main-content">
        <div id="site-messages"></div>
        <div id="loading" class="hide">
            <img width="200" height="200" border="0" alt="My Little Pony" src="~/images/loading.gif">
            <br />
            <div class="loading-text">Please wait...</div>
        </div>
        <div class="error-page-message">Internal Server Error</div>
    </main>