form.thread-form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    background: #2d3e50;
    margin: 35px;
    padding: .5em 1.5em;
}

form h1, h2, h3, h4, h5, h6, h7, h8 {
    color: #6FBEF3;
    padding-bottom: .3em;
    border-bottom: 2px solid white;
    margin: 0.5em;
}

form fieldset {
    text-align: center;
    border: none;
}

form .control-group ~ .control-group {
    padding-top: 1em;
}

form .control-group {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-group label {
    text-align: right;
    vertical-align: middle;
    margin: 0 1em 0 0;
}

.control-group input {
    padding: .5em .6em;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


#content-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28em;
}

@media only screen and (max-width: 1050px) {
    #content-editor {
        width: 21em;
    }
}

    #content-editor .toolbar {
        display: flex;
        align-items: center;
        border: 1px solid #4F4F4F;
        border-radius: 10px 10px 0 0;
        background: #7e8d9c;
        width: 100%;
    }

        #content-editor .toolbar button {
            background: transparent;
            border: none;
            font-family: sans-serif;
            font-size: 0.8rem;
            cursor: pointer;
            padding: 0.7rem;
        }

            #content-editor .toolbar button:hover, #markdown-editor .toolbar button.active {
                background: #42424242;
                border-radius: 5px;
                box-shadow: 0 0 2px #5c5c5c inset;
                outline: 0px;
            }

            #content-editor .toolbar button:focus {
                outline: none;
            }

        #content-editor .toolbar .group {
            border-right: 1px solid white;
            margin-right: 4px;
            display: inline;
        }

    #content-editor #input-output {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30em;
    }

        #content-editor #input-output textarea {
            padding: .5em;
            color: #6FBEF3;
            background: #1f2428;
            resize: none;
            border: none;
        }

            #content-editor #input-output textarea::placeholder {
                color: #aeaeae;
            }

        #content-editor #input-output #output-area {
            word-wrap: break-word;
            display: none;
            background: #1f2428;
            padding: 10px;
            overflow-y: scroll;
            height: 100%;
            text-align: initial;
        }

            #content-editor #input-output #output-area h1, h2, h3, h4, h5, h6, h7, h8 {
                border: none;
                color: inherit;
            }

        #content-editor #input-output p.preview-message {
            display: none;
            background: #d6d6d6;
            border-radius: 0 0 10px 10px;
            color: #686868;
            margin: 0;
            padding: 0.5rem 1rem;
            opacity: 0.5;
        }

        #content-editor #input-output .hide {
            display: none !important;
        }

        #content-editor #input-output .show {
            display: block !important;
        }
