@model TwilightSparkle.Forum.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<section id="sidebar">
    <nav>
        @foreach (var section in Model.Sections)
        {
            <div>
                @Html.ActionLink(section.SectionName, "SectionThreads", "Threads", new { sectionName = section.SectionName }, new { @class = "link" })
            </div>
        }
    </nav>
</section>
<section id="content">
    @foreach (var thread in Model.PopularThreads)
    {
        <article class="thread">
            <div class="thread-header">
                <div class="thread-name">@(thread.Title)</div>
                <div class="thread-author-name">Author - @(thread.AuthorNickname)</div>
            </div>
            <div class="thread-content">@Html.Raw(thread.Content)</div>
        </article>
    }
</section>