@model TwilightSparkle.Forum.Models.Home.IndexViewModel
@{
    Layout = null;
    ViewData["Title"] = "Home";
}

<aside id="sidebar-content">
    <nav>
        @foreach (var section in Model.Sections)
        {
            <div>
                @Html.ActionLink(section.SectionName, "SectionThreads", "Threads", new { sectionName = section.SectionName }, new { @class = "link" })
            </div>
        }
    </nav>
</aside>
<main id="main-content">
    <div id="site-messages"></div>
    @foreach (var thread in Model.PopularThreads)
    {
        <article class="thread">
            <div class="header">
                <h1 class="thread-name">@(thread.Title)</h1>
                <h2 class="thread-author-name">Author - @(thread.AuthorNickname)</h2>
            </div>
            <div class="thread-content">@Html.Raw(thread.Content)</div>
        </article>
    }
</main>