@model TwilightSparkle.Forum.Models.Threads.ThreadDetailsViewModel
@{
    ViewData["Title"] = "Thread details";
}

<aside id="sidebar-content">
    <nav>
        @foreach (var section in Model.Sections)
        {
            <div>
                <a href="/Threads/SectionThreads?sectionName=@(section.SectionName)" class="forum-link link">@(section.SectionName)</a>
            </div>
        }
    </nav>
</aside>
<main id="main-content">
    <div id="site-messages"></div>
    <div id="loading" class="hide">
        <img width="200" height="200" border="0" alt="My Little Pony" src="~/images/loading.gif">
        <br />
        <div class="loading-text">Please wait...</div>
    </div>
    <article class="thread">
        <div class="header">
            <h1 class="thread-name">@(Model.Thread.Title)</h1>
            <h2 class="thread-author-name">Author - @(Model.Thread.AuthorNickname)</h2>
        </div>
        <div class="thread-content">@Html.Raw(Model.Thread.Content)</div>
    </article>
</main>