@model TwilightSparkle.Forum.Models.Threads.ThreadDetailsViewModel
@{
    ViewData["Title"] = "Thread details";
}

<aside>
    <nav>
        @foreach (var section in Model.Sections)
        {
            <div>
                @Html.ActionLink(section.SectionName, "SectionThreads", "Threads", new { sectionName = section.SectionName }, new { @class = "link" })
            </div>
        }
    </nav>
</aside>
<main>
    <div id="site-messages"></div>
    <article class="thread">
        <div class="thread-header">
            <div class="thread-name">@(Model.Thread.Title)</div>
            <div class="thread-author-name">Author - @(Model.Thread.AuthorNickname)</div>
        </div>
        <div class="thread-content">@Html.Raw(Model.Thread.Content)</div>
    </article>
    <script src="~/js/main.js"></script>
</main>