@model TwilightSparkle.Forum.Models.Authentication.SignInViewModel
@{
    ViewData["Title"] = "Sign in";
}

<main id="main-content">
    <div id="site-messages"></div>
    <link rel="stylesheet" type="text/css" href="~/css/authentication.css" />
    <form action="/Authentication/SignIn" method="post" id="sign-in-form">
        <h1>Sign in</h1>
        <fieldset>
            <div class="control-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, htmlAttributes: new
                {
                    placeholder = "Username...",
                    maxlength = 255
                })
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, htmlAttributes: new
                {
                    placeholder = "Password...",
                    maxlength = 255
                })
            </div>
            <div class="control-footer">
                <input class="button primary-button" type="submit" value="Sign in" />
            </div>
        </fieldset>
    </form>
</main>