<html>
<head>
    <title>@ViewData["Title"] - Twilight Sparkle Forum</title>
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico" />
</head>
<body>
    <header>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
    </footer>
</body>
</html>